# Node build artifacts
node_modules
npm-debug.log

# Local development
*.env
*.dev
.DS_Store

# Docker
Dockerfile
docker-compose.yml

.idea/
public/javascripts/rating-bundle.js
public/javascripts/home-bundle.js
public/javascripts/feedback-bundle.js
/babel_cache